.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 200px;
    background: var(--gray-900);
}

.header img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 126px;
    height: 100vh;
    transition: 0.7s;
}

.header img:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 100vh;
    transition: 0.7s;
}