.tasks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 736px;
    height: 287px;
    left: calc(50% - 736px/2 + 8px);
    top: 292px;
    border: 1px solid red;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    gap: 561px;

    width: 736px;
    height: 19px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    border: 1px solid red;
}

.created {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 139px;
    height: 19px;

    flex: none;
    order: 0;
    flex-grow: 0;

    border: 1px solid red;
}

.done {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 111px;
    height: 19px;

    flex: none;
    order: 1;
    flex-grow: 0;

    border: 1px solid red;
}

.empty {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
    gap: 16px;

    width: 736px;
    height: 244px;

    border-top: 1px solid #333333;
    border-radius: 8px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    border: 1px solid red;
}