.tasks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 736px;
    height: 287px;
    left: calc(50% - 736px/2 + 8px);
    top: 292px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;

    width: 736px;
    height: 19px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.created {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 139px;
    height: 19px;

    flex: none;
    order: 0;
    flex-grow: 0;

}

.pTasks {
    width: 106px;
    height: 17px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: #4EA8DE;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.done {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 111px;
    height: 19px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.done p {
    width: 78px;
    height: 17px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: #8284FA;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.empty {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
    gap: 16px;

    width: 736px;
    height: 244px;

    border-top: 1px solid #333333;
    border-radius: 8px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.text {
    width: 688px;
    height: 44px;

    font-family: 'Inter';
    font-size: 1rem;
    line-height: 140%;

    text-align: center;

    color: #808080;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.img {
    width: 56px;
    height: 56px;

    flex: none;
    order: 0;
    flex-grow: 0;
}