.tasks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 750px;
    height: 300px;
    left: calc(50% - 736px/2 + 8px);
    top: 292px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    width: 736px;
    height: 19px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.created {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 139px;
    height: 19px;

    flex: none;
    order: 0;
    flex-grow: 0;

}

.pTasks {
    width: 106px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: #4EA8DE;

    flex: none;
    order: 0;
    flex-grow: 0;


}

span {
    background: var(--gray-500);
    color: white;
    padding: 3px 9px;
    border-radius: 999px;
    font-size: 0.75rem;
    font-weight: 700;
}

.done {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    height: 19px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.done p {
    width: 78px;
    height: 17px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: #8284FA;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.empty {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
    gap: 16px;

    width: 736px;
    height: 244px;

    border-top: 1px solid #333333;
    border-radius: 8px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.text {
    width: 688px;
    height: 44px;

    font-family: 'Inter';
    font-size: 1rem;
    line-height: 140%;

    text-align: center;

    color: #808080;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.img {
    width: 56px;
    height: 56px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.taskCreated {
    background: var(--gray-500);
    border: 1px solid var(--gray-400);
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    color: var(--white);
}

.checkContainter {
    min-width: 1.125rem;
    height: 1.125rem;
    background: none;
    border: none;
}

.checkContainter div {
    width: 100%;
    height: 100%;
    border: 2px solid var(--blue);
    border-radius: 50%;
}

.deleteButton {
    background: none;
    border: none;
    color: var(--blue);
}